* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  scroll-behavior: smooth;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Общие стили */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.input {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background: #F6F6F6;
  border-radius: 4px;
  padding: 15px;
}

.button {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 10px 15px;
  color: #fff;
  background: #307cd6;
  border-radius: 4px;
  transition: .3s;
  &:hover {
    background: #1c5aa4;
  }
}

.message {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}


.column-list {
  height: 72vh;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  overflow: scroll;
  //background: linear-gradient(70deg, $main-light-blue, $main-light-pink);
  box-shadow: 3px 3px 3px rgba(9, 45, 66, 0.25);
  border-radius: 25px;
  padding: 25px;

  @media (max-width: 1024px) {
    height: 65vh;
    width: 920px;
    margin: 0 50px;
  }

  .add-column-btn {
    min-width: 260px;
    display: block;
    //font-size: $descr-font;
    //background: $main-light-blue;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
    cursor: pointer;
    text-align: left;
    transition: 0.3s;

    @media (max-width: 1024px) {
      min-width: 200px;
    }

    &:hover {
      // font-weight: bold;
      // color: $main-light-orange;
      // background: $main-blue;
    }
  }
}
.column-list-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  overflow: visible;
}
.column-list::-webkit-scrollbar {
  height: 20px;
}
.column-list::-webkit-scrollbar-thumb {
  background-color: #e8ecf8;
  border-top: 0.5rem solid #fff;
}

.page {
  padding: 20px 0;
}